
body {
    color: white; 
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ff34d0;
}
.keys{
    display: flex; 

}

h1{

    font-family: "Roboto";
    font-size: 58px;
    margin-bottom: 20px;
}
.drum-txt{
    font-family: "Montserrat";
    font-weight: 300;
}

.key {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    width: 55px;
    height: 55px;
    border-radius: 3px;
    margin: 0px 10px;
    transition: all .07s;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 25px;
    font-family: "Montserrat";
}

.sound {
    font-size: 10px;
    margin-bottom: 3px;
}



.playing {
    transform: scale(1.1);
    box-shadow: 0 .5px 3px black;
}